<div class="container">
  <div class="row">
    <div class="col-xs-12">
    <%= image_tag("logo.png", class: "img-responsive") %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-g-6">
      <h3 >Let's get you setup for your first session!</h3> 
        <ul>
          <li>Create your login</li>
          <li>Enter relevant family and health information</li>
          <li>And, check technological requirements </li>
        </ul>
        <p>This should only take a few short minutes and will help your</p>
        <p> 
          <a data-toggle="modal" data-target="#rdModal" style="cursor: pointer" class="nutritionist-link tilt">
            <span class="bright-green" style="font-size: 20px">KindRD</span><span class="orange" style="font-size: 20px">Nutritionist</span> 
            <span class="glyphicon glyphicon-question-sign green"></span>
          </a> prepare for your upcoming session
        </p>
    </div>

<%= render "/shared/kindrd_nutritionist_modal" %>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center orange-background" style="padding-bottom: 2%; padding-top: 3%; border-radius: 20px">
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <form class='form-horizontal text-center' role='form'>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
              <div class="col-xs-2 hidden-sm hidden-md hidden-lg"></div>
              <div class="col-xs-8 col-sm-12 col-md-12 col-lg-12">
                <div class='form-group'>     
                  <%= f.text_field :first_name,autofocus: true, placeholder: 'First Name', style: "padding-left: 5%"  %>
                </div>
                <div class='form-group'>   
                  <%= f.text_field :last_name,autofocus: true, placeholder: 'Last Name', style: "padding-left: 5%"  %>
                </div>
                <div class='form-group'>
                  <%= f.text_field :email, placeholder: 'Email Address', style: "padding-left: 5%"  %>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
              <div class="col-xs-2 hidden-sm hidden-md hidden-lg"></div>
              <div class="col-xs-8 col-sm-12 col-md-12 col-lg-12">
                <div class='form-group'>      
                  <%= f.password_field :password, placeholder: 'Password', style: "padding-left: 5%"  %>
                </div>
                <div class='form-group'>
                  <%= f.password_field :password_confirmation, placeholder: 'Confirm Password', style: "padding-left: 5%" %>
                </div>
                <div class='actions text-center'>
                  <%= f.submit  "Create Login", class: "btn-success btn-block btn-lg" %>
                </div>
              </div>
            </div>
          </div>
        </form>
      <% end %>
    </div>  
  </div>
  <div class="row">
    <div class="hidden-xs hidden-sm col-md-6 col-lg-6"></div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

