<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>



  <form class = 'form-horizontal' role = 'form'>
    <div class='form-group'>
      <%= f.label :first_name %>
      <%= f.text_field :first_name, placeholder: 'First Name' %>
    </div>
    <div class='form-group'>
      <%= f.label :last_name %>
      <%= f.text_field :last_name, placeholder: 'Last Name' %>
    </div>
    <div class='form-group'>
      <%= f.label :email %>
      <%= f.text_field :email, placeholder: 'User@Example.com' %>
    </div>
    <div class='form-group'>
      <%= f.label :password %>
      <%= f.password_field :password, placeholder: 'Password' %>
    </div>
    <div class='actions'>
      <%= f.submit  "Sign up" %>
    </div>
    <div class='emphasized'>
      For best results, we recommend using <a href='https://www.google.com/intl/en/chrome/browser/'>Google Chrome</a>
    </div>
  </form>

<% end %>

<%= render "devise/shared/links" %>
