

<%= form_for(@user) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <% if devise_mapping.confirmable? && @user.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= @user.unconfirmed_email %></div>
  <% end %>


  <div><%= f.submit "Update" %></div>
<% end %>