<h1>Register</h1>
<%= form_for(@family) do |f| %>
  <% if @family.errors.any? %>
    <div id='error_explanation'>
      <h2><%= pluralize(@family.errors.count, 'error') %> prohibited this family from being saved:</h2>
      <ul>
        <% @family.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <form class = 'form-horizontal' role = 'form'>
    <div class='form-group'>
      <%= f.label :name %>
      <%= f.text_field :name, placeholder: @family.name %>
    </div>
    <div class='form-group'>
<%= f.fields_for :users, @new_user do |ff| %>
    <%= label_tag :first_name %>
    <%= ff.text_field :first_name, placeholder: 'First Name' %>
    <%= label_tag :last_name %>
    <%= ff.text_field :last_name, placeholder: 'Last Name' %>
    <%= label_tag :age_months %>
    <%= ff.number_field :age_months, placeholder: 'Enter Age' %>
    <%= label_tag :height_inches %>
    <%= ff.number_field :height_inches, placeholder: 'Height in Inches' %>
    <%= label_tag :weight_ounces %>
    <%= ff.number_field :weight_ounces, placeholder: 'Weight in Pounds' %>

  <% end %>
		</div>
    <div class='actions'>
      <%= f.submit %>
    </div>
  </form>
<% end %>


