<h1>Who makes your table special?</h1>
<%= form_for(@family) do |f| %>
  <% if @family.errors.any? %>
    <div id='error_explanation'>
      <h2><%= pluralize(@family.errors.count, 'error') %> prohibited this family from being saved:</h2>
      <ul>
        <% @family.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <form class = 'form-horizontal' role = 'form'>
    <div class='form-group'>
      <%= f.label :name %>
      <%= f.text_field :name, placeholder: @family.name %>
    </div>
    <% (1..10).each do |i| %>
      <div id="child-forms-div-<%=i%>" class='form-group'>
        <div class='form-group col-xs-6 col-sm-4 col-md-3 col-md-3'>
          <%= f.fields_for :users, @new_user do |ff| %>

            <div class="form-group"><%= label_tag :first_name %>
            <%= ff.text_field :first_name, placeholder: 'First Name' %>
            </div>
            <div class="form-group"><%= label_tag :last_name %>
            <%= ff.text_field :last_name, placeholder: 'Last Name' %>
            </div>
            <div class="form-group date-picker"><%= label_tag :birth_date %></br>
            <%= ff.date_select :age_months, :order => [:month, :day, :year] %>
            </div>
            <div class="form-group"><%= label_tag :height_inches %>
            <%= ff.number_field :height_inches, placeholder: 'Height in Inches' %>
            </div>
            <div class="form-group"><%= label_tag :weight_ounces %>
            <%= ff.number_field :weight_ounces, placeholder: 'Weight in Pounds'%>
            </div>
          <% end %>
        </div> 
  		</div>
    <% end %>
    <button type="button" id="add-family-button" class="btn btn-warning">Add to your table</button>
    <div class='form-group btn'>
      <%= f.submit "Create Table", class: "btn btn-success btn-lg" %>
    </div>
  </form>
<% end %>


