<%= link_to root_path(anchor: 'call') do %>
  <button id="back" type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-chevron-left"></span> Back
  </button>
<% end %>
<p>
  <b>Email:</b><br/>
  <%= @user.email %><br/><br/>
  <b>Fullname: </b><br/>
  <%= @user.fullname %><br/><br/>
  <b>Allergy: </b><br/>
  <% @user_allergies.each do |allergy| %>
    <% if allergy == @user_allergies.last %>
      <%= Allergy.find(allergy.allergy_id).name %>
    <% else %>
      <%= Allergy.find(allergy.allergy_id).name + ', ' %>
    <% end %>
  <% end %>
</p>
