<h1>Editing user</h1>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id='error_explanation'>
      <h2><%= pluralize(@user.errors.count, 'error') %> prohibited this user from being saved:</h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='field'>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>

  <br />

  <%= button_tag( class: 'btn btn-default btn-lg') do %>
    <span class="glyphicon glyphicon-floppy-saved"></span> Save
  <% end %>

  <%= link_to root_path(anchor: 'profile'), method: :get, class: "btn btn-default btn-lg" do %>
    <span class= "glyphicon glyphicon-remove-circle"></span> Cancel
  <% end %>
<% end %>
