<h1>Editing user</h1>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id='error_explanation'>
      <h2><%= pluralize(@user.errors.count, 'error') %> prohibited this user from being saved:</h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='form-group'>
    <%= f.label :fullname %><br />
    <%= f.text_field :fullname %>
  </div>
  <div class='form-group'>
    <%= f.label :allergy %><br />
    <%= f.select :allergy_ids, Allergy.all.collect {|x| [x.name, x.id]}, {}, :size => Allergy.count, :multiple => true %>
  </div>
  <div class='form-group'>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class='form-group'>
    <%= f.label "User Profile Picture" %><br />
    <%= image_tag @user.avatar.url(:thumb), class: "profile-picture" %>
    <%= f.file_field :avatar, class: "file-prompt" %><br />
  </div>
  <div class='form-group'>
    <%= f.label "Child's Name" %><br />
    <%= f.text_field :childname %>
  </div><br />
  <div class='form-group'>
    <%= f.label "Child's Height (inches)" %><br />
    <%= f.text_field :childheight %>
  </div><br />
  <div class='form-group'>
    <%= f.label "Child's Weight (lbs)" %><br />
    <%= f.text_field :childweight %>
  </div><br />
  <div class='form-group'>
    <%= f.label "Child's Birthdate" %><br />
    <%= f.text_field :childdob %>
  </div><br />
  <div class='form-group'>
    <%= f.label "Child's Medical History" %><br />
    <%= f.text_area :childhist %>
  </div><br />
  <div class='form-group'>
    <%= f.label "Child's Medications" %><br />
    <%= f.text_area :childmeds %>
  </div><br />
  <div class='form-group'>
    <%= f.label "Next Appointment" %><br />
    <%= f.datetime_select :apptdate, order: [:month, :day, :year], minute_step: 30, ampm:true %>
  </div>
  <div class='form-group'>
    <%= f.label "Child's Food Journal" %><br />
    <%= f.text_area :apptfoodhist %>
  </div><br />
  <div class='form-group'>
    <%= f.label "Questions for Dietitian" %><br />
    <%= f.text_area :apptquestions %>
  </div><br />

  <%= button_tag( class: 'btn btn-default btn-lg') do %>
    <span class="glyphicon glyphicon-floppy-saved"></span> Save
  <% end %>

  <%= link_to root_path(anchor: 'profile'), method: :get, class: "btn btn-default btn-lg" do %>
    <span class= "glyphicon glyphicon-remove-circle"></span> Cancel
  <% end %>
<% end %>
