<%= form_for([@user, @note]) do |f| %>
  <% if @note.errors.any? %>
    <div id='error_explanation'>
      <h2><%= pluralize(@note.errors.count, 'error') %> prohibited this note from being saved:</h2>
      <ul>
        <% @note.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='field'>
    <%= f.label :name %><br />
    <%= f.text_field :name %><br />
    <br />
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>

  <br />

  <%= button_tag( class: 'btn btn-default btn-lg') do %>
    <span class="glyphicon glyphicon-floppy-saved"></span> Save
  <% end %>

  <%= link_to root_path(anchor: 'notes'), method: :get, class: "btn btn-default btn-lg" do %>
    <span class= "glyphicon glyphicon-remove-circle"></span> Cancel
  <% end %>
<% end %>
