  <% binding.pry%>
  <% if current_user %>
    <%= link_to destroy_user_session_path, method: :delete do %>
      <button id="logout" type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-log-out"></span> Logout
      </button>
    <% end %>
  <% end %>
  
<div id="call">
  <div class="container">
    <div class="row text-center">
      <%= image_tag "logo.png", class: "logo" %>
    </div>
  </div>
</div>


<% if @user.first_name == "Tara"%>
  <div class="col-md-6 col-md-offset-3 text-center">
    <h2>Online Users</h2>
    <hr>
    <% @users.each do |user| %>
      <div>
        <span id="call-<%= user.id %>" style="display:none">
        <%= user.first_name %>
          <a onclick="call('<%= user.id %>')" href="javascript:void(0)">
            <button id="place-call" type="button" class="btn btn-default btn-xs">
              <span class="glyphicon glyphicon-earphone"></span> Call
            </button>
          </a>
        </span>
      </div>
    <% end %>
    <span id='no-users-online'>No users online</span>
  </div>
<% else %>
  <div class="col-xs-12 text-center">
  <h1>Thank you for waiting patiently,</h1>
  <h1>your appointment will begin shortly!</h1>
  </div>
<% end %>

<!-- Vline javascript -->
<script type="text/javascript">
  var loginToken = "<%= Vline.create_login_token(current_user.id) %>";
  var serviceId = "<%= Vline.service_id %>";
  var authId = "<%= Vline.provider_id %>";
  var profile = {"displayName" : "<%= current_user.email %>"};
  var people = [
      <% @users.each do |user| %>
      "<%= user.id %>",
      <% end %>
  ];
  var client = vline.Client.create({"serviceId": serviceId, "ui": true});
  var session;

  function call(userId) {
    if (session) {
      session.getPerson(userId)
        .done(function(person) {
            person.startMedia();
        });
    }
  }

  client.on('login', function(e) {
    session = e.target;
    for (var i=0; i < people.length; i++) {
      session.getPerson(people[i])
      .done(function(person) {
        var updatePresence = function(e) {
          var person = e.target;
          var presenceState = person.getPresenceState();
          var shortId = person.getShortId();
          var elem = document.getElementById(shortId);

          // Show only online users
          elem = document.getElementById('call-' + shortId);
          noUserMsg = document.getElementById('no-users-online')
          if (presenceState === "online" && shortId !== "<%= current_user.id %>") {
            elem.style.display = "";
            noUserMsg.style.display = "none"
          } else {
            elem.style.display = "none";
          }
        };

        updatePresence({target: person});
        person.on('change:presenceState', updatePresence);
      });
    }
  });

  client.login(authId, profile, loginToken);
</script>

