
  <% if current_user %>
    <%= link_to destroy_user_session_path, method: :delete do %>
      <button id="logout" type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-log-out"></span> Logout
      </button>
    <% end %>
  <% end %>

  <% if current_dietitian %>
    <%= link_to destroy_dietitian_session_path, method: :delete do %>
      <button id="logout" type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-log-out"></span> Logout
      </button>
    <% end %>
  <% end %>

<div id="call">
  <div class="container">
    <div class="row text-center">
      <%= image_tag "logo.png", class: "logo" %>
    </div>
  </div>
</div>
<% if @user.class == Dietitian%>
  <div class="col-md-6 col-md-offset-3 text-center">
    <h2>Online Users</h2>
    <hr>
    <% @users.each do |user| %>
      <div>
        <span id="call-<%= user.id %>" style="display:none">
        <%= user.first_name %>
          <a onclick="call('<%= user.id %>')" href="javascript:void(0)">
            <button id="place-call" type="button" class="btn btn-default btn-xs">
              <span class="glyphicon glyphicon-earphone"></span> Call
            </button>
          </a>
        </span>
      </div>
    <% end %>
    <span id='no-users-online'>No users online</span>
  </div>
<% else %>
  <div class="col-xs-12 text-center">
    <div class="col-xs-3" data-toggle="modal" data-target="#profileModal" style="cursor: pointer">
      <%= image_tag("tara.png") %>
    </div>
    <div class="col-xs-9 text-left">
      <h1>Greetings <span class="cursive green"><%= @user.first_name %></span> !</h1>
      <p>Welcome to the Kindrdcare Waiting Room.  As you know, I’m Tara McCarthy and I’ll be your       
      <a data-toggle="modal" data-target="#rdModal" style="cursor: pointer" class="nutritionist-link tilt">
        <span class="bright-green" style="font-size: 20px">KindRD</span><span class="orange" style="font-size: 20px">Nutritionist</span> 
        <span class="glyphicon glyphicon-question-sign green"></span>
      </a> today.  </p>
      <p>While we are still building our software, there are a few items I’d like you to check for me: </p> 
      <ol>
        <% if @user.appointment_hosts %>
          <% if @user.appointment_hosts.last.date %>
        <li>Please review the email I sent you to confirm our session is at this time:<span class="green" style="font-size: 2em"> <%= @user.appointment_hosts.last.date.strftime("%B %d, %Y %I:%M %p")%></span></li>  
          <% end %>
        <% end %>
        <li>Be sure that you are using the <a href="www.google.com/chrome" target="_blank">Google Chrome</a> web browser (unsure? check <a href="http://whatbrowser.org/" target="_blank">here</a>)</li>
        <li>Test your web cam and microphone (unsure? check <a href="http://www.onlinemictest.com/" target="_blank">here</a>)</li>
        <li>And, have a phone nearby that you can use in case of poor reception</li>
      </ol>
      <p>Please stay on this page.  You will receive a video conference call from me at the time of our scheduled session.  The incoming call will prompt you to activate your webcam and then we can begin.  I recommend that you find a well lit and quiet area to have our conversation.</p>
      <p>In the meantime, click on my photo or 
      <a data-toggle="modal" data-target="#profileModal" style="cursor: pointer" class="cursive bright-green tilt sign-in-button">here</a> to learn more about me.</p>
      <p>I look forward to meeting you!</p>
      <p><span data-toggle="modal" data-target="#profileModal" style="cursor: pointer" class="cursive orange tilt grow-text">Tara McCarthy</span></p>
      <p><span>Tara McCarthy RDN, LDN</p>
    </div>
  </div>
<% end %>

<%= render "/shared/kindrd_nutritionist_modal" %>
<%= render "/shared/rd_summary_modal" %>
<!-- Vline javascript -->
<script type="text/javascript">
  var loginToken = "<%= Vline.create_login_token(@user.id) %>";
  var serviceId = "<%= Vline.service_id %>";
  var authId = "<%= Vline.provider_id %>";
  var profile = {"displayName" : "<%= @user.email %>"};
  var people = [
      <% @users.each do |user| %>
      "<%= user.id %>",
      <% end %>
  ];
  var client = vline.Client.create({"serviceId": serviceId, "ui": true});
  var session;

  function call(userId) {
    if (session) {
      session.getPerson(userId)
        .done(function(person) {
            person.startMedia();
        });
    }
  }

  client.on('login', function(e) {
    session = e.target;
    for (var i=0; i < people.length; i++) {
      session.getPerson(people[i])
      .done(function(person) {
        var updatePresence = function(e) {
          var person = e.target;
          var presenceState = person.getPresenceState();
          var shortId = person.getShortId();
          var elem = document.getElementById(shortId);

          // Show only online users
          elem = document.getElementById('call-' + shortId);
          noUserMsg = document.getElementById('no-users-online')
          if (presenceState === "online" && shortId !== "<%= @user.id %>") {
            elem.style.display = "";
            noUserMsg.style.display = "none"
          } else {
            elem.style.display = "none";
          }
        };

        updatePresence({target: person});
        person.on('change:presenceState', updatePresence);
      });
    }
  });

  client.login(authId, profile, loginToken);
</script>

