<a id="menu-toggle" href="#" class="btn btn-primary btn-lg toggle"><i class="fa fa-bars"></i></a>
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-default btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    <li class="sidebar-brand"></li>
    <li><a href="#top">Home</a></li>
    <li><a href="#call">Make a Call</a></li>
    <li><a href="#notes">My Notes</a></li>
    <li><a href="#profile">My Profile</a></li>
  </ul>
</div>

<div id="top" class="header">
  <div class="vert-text">
    <div class="title">
      <h1>KindrdFood</h1>
      <h3>
        Guidance to good health through great food
      </h3>
      <a href="#call" class="btn btn-default btn-lg">Get Started</a>
    </div>
  </div>
</div>

<div id="call">
  <div class="container">
    <div class="row text-center">
      <%= image_tag "logo.png", class: "logo" %>
      <div class="col-md-6 col-md-offset-3 text-center">
        <h2>Online Users</h2>
        <hr>
        <% @users.each do |user| %>
          <div>
            <span id="call-<%= user.id %>" style="display:none">
              <%= link_to user.fullname, user_path(user) %>
              <a onclick="call('<%= user.id %>')" href="javascript:void(0)">
                <button id="place-call" type="button" class="btn btn-default btn-xs">
                  <span class="glyphicon glyphicon-earphone"></span> Call
                </button>
              </a>
            </span>
          </div>
        <% end %>
        <span id='no-users-online'>No users online</span>
      </div>
    </div>
  </div>
</div>

<div id="notes">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 text-center">
        <h2>My Notes</h2>
        <hr>
      </div>
    </div>
    <div class="row text-center">
      <div id="index-notes">
        <%= render :partial => "shared/index_notes" %>
      </div>
      <div id="new-note"></div>
    </div>
  </div>
</div>

<div id="profile">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 text-center">
        <h2>My Profile</h2>
        <hr>
      </div>
    </div>
    <div class="row text-center">
      <div id="show-profile">
        <%= render :partial => "shared/show_profile" %>
      </div>
      <div id="edit-profile"></div>
    </div>
  </div>
</div>

<!-- Custom JavaScript for the Side Menu and Smooth Scrolling -->
<script>
  $("#menu-close").click(function(e) {
    e.preventDefault();
    $("#sidebar-wrapper").toggleClass("active");
  });
</script>

<script>
  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#sidebar-wrapper").toggleClass("active");
  });
</script>
<script>
  $(function() {
    $('a[href*=#]:not([href=#])').click(function() {
      if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
          if (target.length) {
            $('html,body').animate({
                scrollTop: target.offset().top
            }, 1000);
            return false;
          }
      }
    });
  });
</script>

<!-- Vline javascript -->
<script type="text/javascript">
  var loginToken = "<%= Vline.create_login_token(current_user.id) %>";
  var serviceId = "<%= Vline.service_id %>";
  var authId = "<%= Vline.provider_id %>";
  var profile = {"displayName" : "<%= current_user.email %>"};
  var people = [
      <% @users.each do |user| %>
      "<%= user.id %>",
      <% end %>
  ];
  var client = vline.Client.create({"serviceId": serviceId, "ui": true});
  var session;

  function call(userId) {
    if (session) {
      session.getPerson(userId)
        .done(function(person) {
            person.startMedia();
        });
    }
  }

  client.on('login', function(e) {
    session = e.target;
    for (var i=0; i < people.length; i++) {
      session.getPerson(people[i])
      .done(function(person) {
        var updatePresence = function(e) {
          var person = e.target;
          var presenceState = person.getPresenceState();
          var shortId = person.getShortId();
          var elem = document.getElementById(shortId);

          // Show only online users
          elem = document.getElementById('call-' + shortId);
          noUserMsg = document.getElementById('no-users-online')
          if (presenceState === "online" && shortId !== "<%= current_user.id %>") {
            elem.style.display = "";
            noUserMsg.style.display = "none"
          } else {
            elem.style.display = "none";
          }
        };

        updatePresence({target: person});
        person.on('change:presenceState', updatePresence);
      });
    }
  });

  client.login(authId, profile, loginToken);
</script>

<script language="javascript" type="text/javascript">
  jQuery(
    function editProfile($) {
      $('#edit').on('click', function() {
        $("#edit-profile").html('<%= escape_javascript(render :partial => "shared/edit_profile").html_safe %>');
        $("#show-profile").empty();
      });
    }
  );

  jQuery(
    function newNote($) {
      $('#new').on('click', function() {
        $("#new-note").html('<%= escape_javascript(render :partial => "shared/new_note").html_safe %>');
        $("#index-notes").empty();
      });
    }
  );
</script>
