<div class="row text-center form-group">
  <div class="col-xs-2">
  <%= image_tag("carrot-large.png", style: "height: 100px") %>
  </div>
  <div class="col-xs-10">
  <h1 style="margin-left: -20%" class="green">What makes your table <span class="cursive large orange">special?</span></h1>
  </div>
</div>


<div class="row restrictions-div" id="restriction-columns">
<%= form_for(@user_dietary_restriction) do |f| %>
  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-10">
      <p><span style="background-color: white; font-size: 30px; padding: 1%; border-radius: 50px" class="green"><b>SELECT BELOW</b></span> any dietary restrictions in your family and then click 
        <button class="btn-success btn-lg" style="width: 200px">Next</button>
      </p>
    </div>
  </div>

  <div class="row accordion-columns">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <div class="panel-group" id="accordion-allergy">
        <% @allergies.each do |allergy| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion-allergy" href="#collapse-<%=allergy.id%>" data-container="body" data-placement="top" data-content="<%=allergy.description%>"> 
                  <%= allergy.name %>
                </a>
            </h4>
          </div>
          <div id="collapse-<%=allergy.id%>" class="panel-collapse collapse">
            <div class="panel-body">
              <ul style="list-style-type: none">
                <% @family_members.each do |member| %>
                <li>
                  <div class="checkbox">
                    <input class="allergy-checkbox" id="allergy-<%=member.id%>-checkbox" name="user[<%=member.id%>][allergies][]" type="checkbox" value="<%=allergy.id%>"> <%=member.first_name%>
                  </div>
                  <% if allergy.input_option == true %>
                    <div class="other-field" id="allergy-<%=member.id%>-div">
                      <input id="allergy-<%=member.id%>-field" name="user[<%=member.id%>][other][<%=allergy.id%>]" type="text" placeholder="  example1, example2, etc."/>
                    </div>
                  <% end %>
                </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <div class="panel-group" id="accordion-intolerance">
        <% @intolerances.each do |allergy| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion-intolerance" href="#collapse-<%=allergy.id%>" data-toggle="popover" data-container="body" data-placement="top" data-content="<%=allergy.description%>"> 
                  <%= allergy.name %>
                </a>
            </h4>
          </div>
          <div id="collapse-<%=allergy.id%>" class="panel-collapse collapse">
            <div class="panel-body">
              <ul style="list-style-type: none">
                <% @family_members.each do |member| %>
                <li>
                  <div class="checkbox">
                    <input class="allergy-checkbox" id="allergy-<%=member.id%>-checkbox" name="user[<%=member.id%>][allergies][]" type="checkbox" value="<%=allergy.id%>"> <%=member.first_name%>
                  </div>
                  <% if allergy.input_option == true %>
                    <div class="other-field" id="allergy-<%=member.id%>-div">
                      <input id="allergy-<%=member.id%>-field" name="user[<%=member.id%>][other][<%=allergy.id%>]" type="text" placeholder="  example1, example2, etc."/>
                    </div>
                  <% end %>
                </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div> <!-- intolerances column  -->

    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <div class="panel-group" id="accordion-disease">
        <% @diseases.each do |allergy| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion-disease" href="#collapse-<%=allergy.id%>" data-toggle="popover" data-container="body" data-placement="top" data-content="<%=allergy.description%>"> 
                  <%= allergy.name %>
                </a>
            </h4>
          </div>
          <div id="collapse-<%=allergy.id%>" class="panel-collapse collapse">
            <div class="panel-body">
              <ul style="list-style-type: none">
                <% @family_members.each do |member| %>
                <li>
                  <div class="checkbox">
                    <input class="allergy-checkbox" id="allergy-<%=member.id%>-checkbox" name="user[<%=member.id%>][allergies][]" type="checkbox" value="<%=allergy.id%>"> <%=member.first_name%>
                  </div>
                  <% if allergy.input_option == true %>
                    <div class="other-field" id="allergy-<%=member.id%>-div">
                      <input id="allergy-<%=member.id%>-field" name="user[<%=member.id%>][other][<%=allergy.id%>]" type="text" placeholder="  example1, example2, etc"/>
                    </div>
                  <% end %>
                </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div> <!-- diseases column  -->
  </div> <!-- row for all columns -->
</div> <!-- restriction columns -->

<% end %>
