<div class="row">
	<div class="col-xs-6">
		<div class="col-xs-12 form-group" id="videobox2">
		</div>
			<h4 class="text-center dark-orange" id="client-video-placeholder">When <%= @appointment.appointment_host.first_name%> is ready, <%= @appointment.appointment_host.singular_possessive%> video stream will appear here.  When you can see <%= @appointment.appointment_host.first_name%> then the session has begun.</h4>
		<div class="col-xs-12">
			<button id="welcome-rd-button" class="btn  rd-tab">
				Welcome		
			</button>
			<button id="tech-survey-button" class="btn  rd-tab">
				Technology		
			</button>
			<button id="appointment-survey-button" class="btn  rd-tab">
				Appointment		
			</button>
			<button id="notes-button" class="btn  rd-tab">
				Notes		
			</button>
		</div>

		<div class="col-xs-12 in-session-rd-bio welcome-rd-container-large" id="welcome-rd-container" >
			<div class="col-xs-12 welcome-rd-page" id="welcome-rd-1">
				<h1>Welcome  <span class="green cursive large"><%=@user.first_name%></span> ,</h1>
				<h2>Your session begins at <%=@appointment.date.in_time_zone("Eastern Time (US & Canada)").strftime("%I:%M %p")%>. It is currently <%=DateTime.now.in_time_zone("Eastern Time (US & Canada)").strftime("%I:%M %p")%>.  Please follow these steps to prepare for your video conference with <%= @appointment.appointment_host.first_name%> <%= @appointment.appointment_host.last_name %>.
				 </h2>
				 <div class="col-xs-12 text-center">
				 	<h2>Please click</h2>
				 	<button id="welcome-rd-button-1" type="button" class=" btn-lg tilt kindrd-button form-group" data-toggle="modal" >Next</button>
				 </div>
			</div>
			<div class="col-xs-12 welcome-rd-page" id="welcome-rd-2">
				<h2 class="text-left">Let's get your camera set up!</h2>
				<h2 class="text-left">Please click the "Allow" button that is in the mini screen to the right above the "Pause Video" button.</h2>
			 <div class="col-xs-12 text-center">
				 	<h2>Then click</h2>
				 	<button id="welcome-rd-button-2" type="button" class=" btn-lg tilt kindrd-button form-group" data-toggle="modal" >Next</button>
				 </div>
			</div>
			<div class="col-xs-12 welcome-rd-page" id="welcome-rd-3">
				<h2 class="text-left">Learn about
				<%= @appointment.appointment_host.families.first.first_names %> by selecting their names to the right.</h2>
			 	<div class="col-xs-12 text-center">
				 	<h2>Then click</h2>
				 	<button id="welcome-rd-button-3" type="button" class=" btn-lg tilt kindrd-button form-group" data-toggle="modal" >Next</button>
				 </div>
			</div>
			<div class="col-xs-12 welcome-rd-page" id="welcome-rd-4">
				<h2 class="text-left">Read <%=@appointment.appointment_host.first_name%>'s responses to the technology requirements survey and the pre-appointment survey by clicking on the "Technology" and "Appointment" buttons above.</h2>
			</div>
		</div>

		<div class="col-xs-12 in-session-rd-bio welcome-rd-container-large" id="tech-survey-container">
			<% @tech_survey_questions.each do |question| %>
				<h2 class="green"><%= question.content %></h2>
				<% @tech_survey_responses.each do |response| %>
					<% if response.question_id == question.id %>
						<h2><%= response.list_of_choices %></h2>
					<% end %>
				<% end %>
			<% end %>
		</div>

		<div class="col-xs-12 in-session-rd-bio welcome-rd-container-large" id="appointment-survey-container">
			<% @appt_survey_questions.each do |question| %>
				<h2 class="green"><%= question.content %></h2>
				<% @appt_survey_responses.each do |response| %>
					<% if response.question_id == question.id %>
						<h2><%= response.user_input %></h2>
					<% end %>
				<% end %>
			<% end %>		
		</div>
		<div class="col-xs-12 in-session-rd-bio welcome-rd-container-large" id="notes-container">
			<%= form_for(@appointment) do |f| %>
			<div class="col-xs-12" style="margin-top:5%; padding: 2%">
				<textarea class="form-control form-group" name="appointment[note]" rows="10" placeholder="<%=@appointment.note%>"></textarea>
				<h3 class="large-white-font">Do not save notes until session has ended!  Saving notes will redirect to upcoming appointments list.</h3>
        <%= f.submit  "Save Notes", class: " btn-block tilt kindrd-button" %>
       </div>
			<% end %>
		</div>
	</div>
	<div class="col-xs-6">
		<div class="family-bio col-xs-12" id="family-bio-<%=@appointment.appointment_host.id %>" value="<%=@appointment.appointment_host.id%>">
			<div class="col-xs-12">
				<h1> <%= @appointment.appointment_host.first_name%> <%= @appointment.appointment_host.last_name %> </h1>			
			</div>
			<div class="in-session-user-bio col-xs-12 green-background form-group" id="">
				<ul>
					<li><%#= @appointment.appointment_host.location%></li>
					<li><%= @appointment.appointment_host.sex%></li>
					<li><%#= @appointment.appointment_host.age%></li>
					<li><%#= @appointment.appointment_host.height%></li>
					<li><%#= @appointment.appointment_host.weight%></li>
					<h4>Dietary Restrictions</h4>
					<% if @appointment.appointment_host.dietary_restrictions.count > 0 %>
						<% @appointment.appointment_host.dietary_restrictions.each do |allergy| %>
							<li><%= allergy.name %></li>
						<% end %>
					<% else %>
					<p> none </p>
					<% end %>
					<% if @appointment.appointment_host.more_info != nil %>
						<h4>More Info</h4>
						<li><%= @appointment.appointment_host.more_info %></li>
					<% end %>
				</ul>
			</div>
		</div>

		<% @appointment.appointment_host.families.first.users.each do |family_member| %>
			<% if family_member.id != @appointment.appointment_host.id %>
			<div class="family-bio col-xs-12" id="family-bio-<%=family_member.id %>" value="<%=family_member.id%>">
				<div class="col-xs-12">
					<h1> <%= family_member.first_name%> <%= family_member.last_name %> </h1>			
				</div>
				<div class="in-session-user-bio col-xs-12 green-background form-group" id="">
					<ul>
						<li><%#= family_member.location%></li>
						<li><%= family_member.sex%></li>
						<li><%#= family_member.age%></li>
						<li><%#= family_member.height%></li>
						<li><%#= family_member.weight%></li>
						<h4>Dietary Restrictions</h4>
						<% if family_member.dietary_restrictions.count > 0 %>
							<% family_member.dietary_restrictions.each do |allergy| %>
								<li><%= allergy.name %></li>
							<% end %>
						<% else %>
							<p> none </p>
						<% end %>
						<% if family_member.more_info != nil %>
							<h4>More Info</h4>
							<li> <%= family_member.more_info %></li>
						<% end %>
					</ul>
				</div>
			</div>
			<% end %>
		<% end %>

		<div class="col-xs-6">
			<h3>Client</h3>
			<button id="family-bio-button-<%=@appointment.appointment_host.id%>" value="<%=@appointment.appointment_host.id%>" class="btn family-bio-button"><%=  @appointment.appointment_host.first_name %>		
					</button>
			<h3>Family</h3>
			<% @appointment.appointment_host.families.first.users.each do |family_member| %>
				<% if family_member.id != @appointment.appointment_host.id %>
	  			<button id="family-bio-button-<%=family_member.id%>" value="<%=family_member.id%>" class="btn  family-bio-button"><%= family_member.first_name %>		
					</button>
				<% end %>
			<% end %>
		</div>
		<div class="col-xs-6">
		</div>
	</div>
</div>


<div class="row text-center" style="position: relative">
	<div class="col-xs-3 "  style="margin-top: -20%; position: absolute; right: 0" id="dietitian-video">
		<div class="col-xs-12" id="videobox">
	  </div>
	  <div class="col-xs-12">
	  	<button id="hide-dietitian" class="btn-block tilt kindrd-button-dark-orange">Pause Video</button>
	  	<button id="show-dietitian" class="btn-block tilt kindrd-button-dark-orange">Pause Video</button>
	  </div>
	</div>
</div>


