<div class="row">
	<div class="col-xs-6">
		<div class="col-xs-12 form-group" id="videobox2">
		</div>
		<h4 class="text-center dark-orange" id="client-video-placeholder">When <%= @appointment.appointment_host.first_name%> is ready, <%= @appointment.appointment_host.singular_possessive%> video stream will appear here.  When you can see <%= @appointment.appointment_host.first_name%> say HELLO!</h4>
		<div class="col-xs-12">
			<button id="welcome-rd-button" class="btn  rd-tab">
				Welcome		
			</button>
			<button id="tech-survey-button" class="btn  rd-tab">
				Technology		
			</button>
			<button id="appointment-survey-button" class="btn  rd-tab">
				Appointment		
			</button>
			<button id="notes-button" class="btn  rd-tab">
				Notes		
			</button>
		</div>

		<div class="col-xs-12 in-session-rd-bio welcome-rd-container-large" id="welcome-rd-container" >
			<div class="col-xs-12 welcome-rd-page" id="welcome-rd-1">
				<h1>Welcome  <span class="green cursive large"><%=@user.first_name%></span> ,</h1>
				<h2>Your session begins at <%=@appointment.date.in_time_zone("Eastern Time (US & Canada)").strftime("%I:%M %p")%>. It is currently <%=DateTime.now.in_time_zone("Eastern Time (US & Canada)").strftime("%I:%M %p")%>.  Please follow these steps to prepare for your video conference with <%= @appointment.appointment_host.first_name%> <%= @appointment.appointment_host.last_name %>.
				 </h2>
				 <div class="col-xs-12 text-center">
				 	<h2>Please click</h2>
				 	<button id="welcome-rd-button-1" type="button" class=" btn-lg tilt kindrd-button form-group" data-toggle="modal" >Next</button>
				 </div>
			</div>
			<div class="col-xs-12 welcome-rd-page" id="welcome-rd-2">
				<h2 class="text-left">Let's get your camera set up!</h2>
				<h2 class="text-left">Please click the "Allow" button to activate your webcam.</h2>
			</div>
			<div class="col-xs-12 welcome-rd-page" id="welcome-rd-3">
				<h2 class="text-left">Learn about
				<%= @appointment.appointment_host.families.first.first_names %> by selecting their names to the right.</h2>
			 	<div class="col-xs-12 text-center">
				 	<h2>Then click</h2>
				 	<button id="welcome-rd-button-3" type="button" class=" btn-lg tilt kindrd-button form-group" data-toggle="modal" >Next</button>
				 </div>
			</div>
			<div class="col-xs-12 welcome-rd-page" id="welcome-rd-4">
				<h2 class="text-left">Read <%=@appointment.appointment_host.first_name%>'s responses to <%=@appointment.appointment_host.singular_possessive%> questionnaires by clicking the links above:
				</h2>
				<h3>
					<ul>
						<li>Technology - technology requirements survey </li>
						<li>Appointment - appointment expectations survey</li>
					</ul>
				</h3>
				<h2 class="text-left">During your session you can use the notes tab to take your personal notes, please wait to save your notes until the end of the session.</h2>
			</div>
		</div>

		<div class="col-xs-12 in-session-rd-bio welcome-rd-container-large" id="tech-survey-container">
			<% @tech_survey_questions.each do |question| %>
				<h2 class="green"><%= question.content %></h2>
				<% @tech_survey_responses.each do |response| %>
					<% if response.question_id == question.id %>
						<h2><%= response.list_of_choices %></h2>
					<% end %>
				<% end %>
			<% end %>
		</div>

		<div class="col-xs-12 in-session-rd-bio welcome-rd-container-large" id="appointment-survey-container">
			<% @appt_survey_questions.each do |question| %>
				<h2 class="green"><%= question.content %></h2>
				<% @appt_survey_responses.each do |response| %>
					<% if response.question_id == question.id %>
						<h2><%= response.user_input %></h2>
					<% end %>
				<% end %>
			<% end %>		
		</div>
		<div class="col-xs-12 in-session-rd-bio welcome-rd-container-large" id="notes-container">
			<%= form_for(@appointment) do |f| %>
			<div class="col-xs-12" style="margin-top:5%; padding: 2%">
				<textarea class="form-control form-group" name="appointment[note]" rows="10" placeholder="<%=@appointment.note%>"></textarea>
				<h3 class="large-white-font">Do not save notes until session has ended!  Saving notes will redirect to upcoming appointments list.</h3>
        <%= f.submit  "Save Notes", class: " btn-block tilt kindrd-button" %>
       </div>
			<% end %>
		</div>
	</div>
	<div class="col-xs-6">
		<div class="panel-group" id="family-accordion">
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <h4 class="panel-title">
		        <a data-toggle="collapse" data-parent="#family-accordion" href="#collapse-<%=@appointment.appointment_host.id%>">
							<%= @appointment.appointment_host.first_name%> <%= @appointment.appointment_host.last_name %> (host)
		        </a>
		      </h4>
		    </div>
		    <div id="collapse-<%=@appointment.appointment_host.id%>" class="panel-collapse collapse in">
		      <div class="panel-body">
						<ul>
							<li><%= @appointment.appointment_host.sex%></li>
							<li>Age: <%= @appointment.appointment_host.age%></li>
							<li>Height: <%= @appointment.appointment_host.height%></li>
							<li>Weight: <%= @appointment.appointment_host.weight%></li>
							<h4>Dietary Restrictions</h4>
							<% if @appointment.appointment_host.dietary_restrictions.count > 0 %>
								<% @appointment.appointment_host.dietary_restrictions.each do |allergy| %>
									<li><%= allergy.name %></li>
								<% end %>
							<% else %>
							<p> none </p>
							<% end %>
							<% if @appointment.appointment_host.more_info != nil %>
								<h4>More Info</h4>
								<li><%= @appointment.appointment_host.more_info %></li>
							<% end %>
						</ul>
		      </div>
		    </div>
		  </div>

			<% @appointment.appointment_host.families.first.users.each do |family_member| %>
				<% if family_member.id != @appointment.appointment_host.id %>
				  <div class="panel panel-default">
				    <div class="panel-heading">
				      <h4 class="panel-title">
				        <a data-toggle="collapse" data-parent="#family-accordion" href="#collapse-<%=family_member.id%>">
				          <%=family_member.first_name%> <%= family_member.last_name %>
				          <% if @appointment.patient_focus_id == family_member.id%>
				          	(focus)
				          <% end %>
				        </a>
				      </h4>
				    </div>
				    <div id="collapse-<%=family_member.id%>" class="panel-collapse collapse">
				      <div class="panel-body">
								<ul>
									<li><%= family_member.sex%></li>
									<li>Age: <%= family_member.age%></li>
									<li>Height: <%= family_member.height%></li>
									<li>Weight: <%= family_member.weight%></li>
									<h4>Dietary Restrictions</h4>
									<% if family_member.dietary_restrictions.count > 0 %>
										<% family_member.dietary_restrictions.each do |allergy| %>
											<li><%= allergy.name %></li>
										<% end %>
									<% else %>
										<p> none </p>
									<% end %>
									<% if family_member.more_info != nil %>
										<h4>More Info</h4>
										<li> <%= family_member.more_info %></li>
									<% end %>
								</ul>
				      </div>
				    </div>
				  </div>
		 		<% end %>
		 	<% end %>
		</div>
	</div>
</div>
					<%= render "dietitian_intro" %>
<div class="row text-center" style="position: relative">
	<div class="col-xs-3 video-left"  style="margin-top: -20%; position: absolute; right: 0" id="dietitian-video">
		<div class="col-xs-12" id="videobox">
	  </div>
	</div>
</div>


