<div class="row">
	<div class="row text-center orange-background" id="orange-bar" style="height: 20px; margin-left: -20%; margin-right: -20%">

	</div>

	<div class="row text-center" style="position: relative">
		<div class="row" id="intro-container-1">
			<div class="row">
				<div class="col-xs-2" style="margin-top: 2%; margin-bottom: 2%; margin-left: 3%">
								<%= image_tag(@appointment.dietitian.avatar.url, class: "img-circle", style: "height: 150%; width: 150%") %>
				</div>
				<div class="col-xs-8 form-group">
					<div class="col-xs-12 form-group" style="margin-top: 3%; margin-left: -3%">
						<h2 class="text-center">Thank you for joining me <span class="green cursive" style="font-size: 50px"><%=@user.first_name %></span></h2>
						<h2 class="text-center">My name is <%= @appointment.dietitian.first_name%> <%= @appointment.dietitian.last_name %> and I am your       
						<a data-toggle="modal" data-target="#rdModal" style="cursor: pointer" class="nutritionist-link tilt">
			        <span class="bright-green" style="font-size: 50px">KindRD</span><span class="orange" style="font-size: 50px">Nutritionist</span> 
			        <span class="glyphicon glyphicon-question-sign green"></span>
			      </a> </h2>
			      <h2 class="text-center">Let's get you set up for your session!   
			    	</h2>
		    	</div>
		    </div>
		  </div>
	    <div class="row orange-background full-row">
	  		<h1 class="white-font">Please click</h1>
	  		<button id="intro-container-1-button" type="button" class=" btn-lg tilt kindrd-button" data-toggle="modal" >Next</button>
	  	</div>
	  </div>
		<div class="row" id="intro-container-2">
			<div class="row">
				<div class="col-xs-2" style="margin-top: 2%; margin-bottom: 2%">
								<%= image_tag(@appointment.dietitian.avatar.url, class: "img-circle", style: "height: 150%; width: 150%") %>
				</div>
				<div class="col-xs-1"></div>
				<div class="col-xs-8 form-group">
						<h2 class="text-center">When you are ready to begin, please click the "Allow" button to turn on your computer's webcam and we can begin our session!</h2>
		    </div>
		  </div>
		  <div class="row" style="height: 100px"></div>
	  </div>
		<div class="row" id="intro-container-4">
			<div class="row">
				<div class="col-xs-2" style="margin-top: 2%; margin-bottom: 2%">
								<%= image_tag(@appointment.dietitian.avatar.url, class: "img-circle", style: "height: 150%; width: 150%") %>
				</div>
				<div class="col-xs-1"></div>
				<div class="col-xs-8 form-group">
						<h2 class="text-center">Oops! You did not turn on your webcam.  Please click the "Allow" button to turn on your computer's webcam.</h2>
		    </div>
		  </div>
		  <div class="row" style="height: 100px"></div>
    </div>


<%= render "/shared/kindrd_nutritionist_modal" %> 
		<div class="row">
			<div class="col-xs-3 dietitian-info">
				<div class="col-xs-12">
					<%= image_tag(@appointment.dietitian.avatar.url(:thumb), class: "img-circle") %>
				</div>
				<div class="panel-group" id="dietitian-accordion">

				  <div class="panel panel-default">
				    <div class="panel-heading">
				      <h4 class="panel-title">
				        <a data-toggle="collapse" data-parent="#dietitian-accordion" href="#collapse-education">
									Professional
				        </a>
				      </h4>
				    </div>
				    <div id="collapse-education" class="panel-collapse collapse in">
				      <div class="panel-body">
								<ul>
									<li><span class="dietitian-topics">Undergraduate:</span></li>
									<li> <span class="dietitian-answers"><%= @appointment.dietitian.undergrad%></span></li>
									<li><span class="dietitian-topics">Graduate:</span></li>
									<li> <span class="dietitian-answers"><%= @appointment.dietitian.graduate%></span></li>
									<li><span class="dietitian-topics">Notable Certificates:</span></li>
									<li> <span class="dietitian-answers"><%= @appointment.dietitian.certifs%></span></li>
									<li><span class="dietitian-topics">Areas of Specialty:</span></li>
									<li> <span class="dietitian-answers"><%= @appointment.dietitian.specialties %></span></li>
									<li><span class="dietitian-topics">Years of Experience:</span></li>
									<li> <span class="dietitian-answers"><%= @appointment.dietitian.years_exp %></span></li>
									<li><span class="dietitian-topics">Why a career in nutrition?</span></li>
									<li> <span class="dietitian-answers"><%=@appointment.dietitian.why_nutrition%></span></li>
								</ul>
				      </div>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading">
				      <h4 class="panel-title">
				        <a data-toggle="collapse" data-parent="#dietitian-accordion" href="#collapse-personal">
				          Personal
				        </a>
				      </h4>
				    </div>
				    <div id="collapse-personal" class="panel-collapse collapse">
				      <div class="panel-body">
								<ul>
									<li><span class="dietitian-topics">My Family:</span></li>
									<li> <span class="dietitian-answers"><%=@appointment.dietitian.family_bio%></span></li>
									<li><span class="dietitian-topics">My Nutrition:</span></li>
									<li> <span class="dietitian-answers"><%=@appointment.dietitian.dietary_bio%></span></li>
									<li><span class="dietitian-topics">Favorite Food to Eat:</span></li>
									<li> <span class="dietitian-answers"><%=@appointment.dietitian.fav_eat%></span></li>
									<li><span class="dietitian-topics">Favorite Recipe to Cook:</span></li>
									<li> <span class="dietitian-answers"><%=@appointment.dietitian.fav_cook%></span></li>
									<li><span class="dietitian-topics">You wouldn't expect me to eat:</span></li>
									<li> <span class="dietitian-answers"><%=@appointment.dietitian.fav_snack%></span></li>
								</ul>
				      </div>
				    </div>
				  </div>
				</div>
			</div>
			<div class="col-xs-5">
				<div class="col-xs-12 in-session-rd-video form-group" id="videobox2">
					<h1 class="dietitian-info"> <%= @appointment.dietitian.first_name%> <%= @appointment.dietitian.last_name %> </h1>
				</div>
				<div class="col-xs-12">
					<p>Having trouble with your connection?</p>
					<a data-toggle="modal" data-target="#connectionModal" style="cursor: pointer"><button class="btn">Click Here</button></a>
					<%= render "connection_help" %>
				</div>
			</div>
			<div class="col-xs-4 dietitian-info" style="margin-bottom: 200px">		
				<div class="col-xs-12">
				<h3>Take your notes here</h3>
					<%= form_for(@appointment) do |f| %>
						<textarea class="form-control form-group" name="appointment[note]" rows="10" placeholder="<%=@appointment.client_note%>"></textarea>
						<p>Do not save note until session has ended.</p>
		        <%= f.submit  "End Session & Save Note", class: " btn-block tilt kindrd-button" %>
					<% end %>
				</div>
			</div>
			<div class="col-xs-3 video-center" id="user-video">
				<div class="col-xs-12" id="videobox">
				</div>
			</div>
		</div>
	</div>


</div>
	

