
	<div class="row">
		<div class="col-xs-10">
	    <%= image_tag("logo.png", class: "img-responsive") %>
	  </div>
	</div>
	<div id="edit-profile" style="right: 1%; top: 1%">
      <% if @user.avatar_file_name %>
        <%= image_tag(@user.avatar.url, class: "img-circle") %>
      <% end %>
    <%= link_to "Edit Profile", edit_dietitian_registration_path %>
  </div>
	<div class="row form-group">
		<h3>Upcoming Appointments</h3>
	</div>
	<div class="row">
	<% if @my_upcoming_appointments.count > 0 %>
		<% @my_upcoming_appointments.all.each do |appointment| %>
		<div class="col-xs-3 appointment-div upcoming-appointment">
			<ul>
				<li> <%= appointment.date.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y %I:%M %p") %> </li>
				<li class="green">	Client: <span class="size-25 white-font"><%= appointment.appointment_host.first_name%> <%= appointment.appointment_host.last_name%></span>  </li> 
				<li class="green">  Patient: <span class="size-25 white-font"><%= appointment.patient_focus.first_name %> <%=appointment.appointment_host.last_name %></span>  </li>
				<li class="size-15 form-group">  Created: <%= appointment.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y %I:%M %p") %> </li>
				<% if (((DateTime.now.in_time_zone("Eastern Time (US & Canada)") - appointment.date) / 60 / 60) > -1)%>
					<li class="enter-room-li"><%= link_to 'Enter Room', {:controller => "rooms", :action => "party", :id => appointment.room_id, appointment: appointment.id }, class: "text-center action kindrd-button btn-block tilt"%> </li>
				<% else %>
					<h5>Return 1 hour before appointment to sign in</h5>
				<% end %>
			</ul>
		</div>
		<% end %>
	<% else %>
		<ul>
			<li>
				<p>No upcoming appointments</p>
			</li>
		</ul>
	<% end %>
	</div>
	<div class="row form-group">
		<h3>Previous Appointments</h3>
	</div>
	<div class="row">
	<% if @my_previous_appointments.count > 0 %>
		<% @my_previous_appointments.all.each do |appointment| %>
		<div class="col-xs-3 appointment-div orange-background">
			<ul>
				<li> <%= appointment.date.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y %I:%M %p") %> </li>
				<li class="green"><span class="size-25 white-font"><%= appointment.appointment_host.first_name%> <%= appointment.appointment_host.last_name%></span>  </li> 
				<li > See Notes</li>
			</ul>
		</div>
		<% end %>
	<% else %>
		<ul>
			<li>
				<p>No previous appointments</p>
			</li>
		</ul>
	<% end %>
	</div>
